<div class="container">
	<ul>
		<% if @books.length > 1 %>
			<% @books.each do |book| %>
				<li><%= link_to book.title, user_book(book.user_id, book) %></li>
			<% end %>
		<% else %>
			<%= link_to "#{@books[0].title}", "/users/#{@books[0].user_id}/books/#{@books[0].id}" %>
		<% end %>
	</ul>
</div>