<center>
<h1 class='titleize'>Books by upload date.</h1>
<% if @recent_books.any? %>
  <% @recent_books.each do |book| %>
    <p><%= link_to book.title.titleize, user_book_path(User.find(book.user_id), book) %> <%= book.created_at.localtime.strftime('%H:%M %m/%d/%Y') %></p>
  <% end %>
<% end %>
</center>