/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  font-size: 1.2em;
}

.d3_bubble {
  width: 55%;
  height: 450px;
  background-color: orange;
}

.content {
  margin: 8px;
  width: 100%;
}

.user_form {
  text-align: center;
}

.book_stats {
  margin-left: 60px;
  text-align: center;
  height: 450px;
}

nav {
  background-color: #2C82D9;
  padding-bottom: 0.3em;
}

span {
  font-size: 2.2em;
  padding-left: 0.2em;
}

nav a {
  color: #eee;
  text-decoration: none;
}

nav a:hover {
  color: #53DEFB;
}

ul {
  margin: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

section {
  display: inline-block;
}



.login_nav {
  float: right;
}

@media (max-width: 400px) {
  html {background: red;}

  .d3_bubble {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  html { background: green; }

  .d3_bubble {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 801px) {
  html { background: blue; }
}
